body{
  background-color: black;
}
.section1{
 
    margin-top: 5%;
    left: 5%;
  }
  .caixaPai{
    max-width: 100%;
    max-height: 80%;
  }
  /* caixa azul*/
  
   .caixa1{
  border: 2px white solid;
    display: inline-block;
  height: 180px;
    width: 300px;
  
    background-color: blue;
  }
  
  .caixa1 h2{
  
    color: white;
    text-align: center;
    left: 25%;
    margin-top: 22%;
  }
  /* caixa azul*/
  
  .caixa2{
  
    display: inline-block;
    height: 180px;
      width: 300px;
    border: 2px white solid;
    
      background-color:  #8A2BE2;
    }
    
    .caixa2 h2{
   color: white;
      text-align: center;
      left: 25%;
      margin-top: 22%;
    }
  
    /**/
    .caixa3{
      display: inline-block;
      height: 180px;
        width: 300px;
      border: 2px white solid;
      background-color:#A52A2A;
      
    }
  
    .caixa3 h2{
      color: white;
      text-align: center;
      left: 25%;
     margin-top: 22%;
    }
  
    .caixa4{
        display: inline-block;
      margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
      background-color: #DEB887;
     
    }
  
    .caixa4 h2{
      color: white;
      text-align: center;
      left: 25%;
     margin-top: 22%;
    }

 .caixa5{
    display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
    background-color:#5F9EA0;
   
 }

 .caixa5 h2{
    color: white;
    text-align: center;
    left: 25%;
   margin-top: 22%;
 }

 .caixa6{
    display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
    background-color: #7FFF00; 
   
 }

 .caixa6 h2{
    color: white;
    text-align: center;
    left: 25%;
   margin-top: 22%;
 }

 .caixa7{
    display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
    background-color:  #D2691E;
 }

 .caixa7 h2{
    color: white;
    text-align: center;
    left: 25%;
   margin-top: 22%;
 }

 .caixa8{
    display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
    background-color: #FF7F50;
 }

 .caixa8 h2{
    color: white;
    text-align: center;
    left: 25%;
   margin-top: 22%;
 }

 .caixa9{
    display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
    background-color:  #6495ED;
 }

 .caixa9 h2{
    color: white;
    text-align: center;
    left: 25%;
   margin-top: 22%;
 }

 .caixa10{
    display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
    background-color:     #FFF8DC;
 }

 .caixa10 h2{
    color: black;
    text-align: center;
    left: 25%;
   margin-top: 22%;
 }

 .caixa11{
    display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
    background-color:  #DC143C;
 }

 .caixa11 h2{
    color: white;
    text-align: center;
    left: 25%;
   margin-top: 22%;
 }

 .caixa12{
    display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
    background-color:  #00FFFF;
 }

 .caixa12 h2{
    color: white;
    text-align: center;
    left: 25%;
   margin-top: 22%;
 }


 .caixa13{
  
  display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
  background-color: #00008B;
 }

 .caixa13 h2{
  color: white;
  text-align: center;
  left: 25%;
 margin-top: 22%;
}


.caixa14{
  
  display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
  background-color: #008B8B;
 }

 .caixa14 h2{
  color: white;
  text-align: center;
  left: 25%;
 margin-top: 22%;
}

.caixa15{
  
  display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
  background-color: #B8860B;
 }

 .caixa15 h2{
  color: white;
  text-align: center;
  left: 25%;
 margin-top: 22%;
}


.caixa16{
  
  display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
  background-color: #A9A9A9;
 }

 .caixa16 h2{
  color: white;
  text-align: center;
  left: 25%;
 margin-top: 22%;
}


.caixa17{
  
  display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
  background-color: #006400;
 }

 .caixa17 h2{
  color: white;
  text-align: center;
  left: 25%;
 margin-top: 22%;
}


.caixa18{
  
  display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
  background-color:  #BDB76B;
 }

 .caixa18 h2{
  color: white;
  text-align: center;
  left: 25%;
 margin-top: 22%;
}

.caixa19{
  
  display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
  background-color:  #8B008B;
 }

 .caixa19 h2{
  color: white;
  text-align: center;
  left: 25%;
 margin-top: 22%;
}

.caixa20{
  
  display: inline-block;
    margin-top: 2%;
      height: 180px;
        width: 300px;
      border: 2px white solid;
  background-color:   #556B2F;
 }

 .caixa20 h2{
  color: white;
  text-align: center;
  left: 25%;
 margin-top: 22%;
}