* {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: white;
}
h2{
  text-align: center;
  color: #7B68EE;
}
h2 span{
  color: red;
}

caption{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}

.tabe1,
.tabe2,
.tabe3 {

  display: inline-block;
  
 
}

.tabe3 {
  display: inline-block;
}


table {
  
  display: inline-block;
  
}

.tabe4,
.tabe5,
.tabe6 {
  display: inline-block;
 
  

}

.tabe5 {
  display: inline-block;
  
}

.tabe6 {
  display: inline-block;
  
}

.tabe7,
.tabe8,
.tabe9,
.tabe10 {
  display: inline-block;
  
  
}

.tabe8 {
 display: inline-block;
  
}

.tabe9 {
  display: inline-block;
  
}

.tabe10 {
  display: inline-block;
  ;
}

.tabe11 {
  display: inline-block;

  

}

/* teste de plano de fundo rgb*/

td{
  
  border: 4px solid black;
}

 #unico{
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}

.tudo{
  display: inline;
}